.Header {
  min-height: calc(80px + 1vh);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
  text-align: center;
}

.Head {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.Head img {
  max-width: 100%;
}

.Title {
  letter-spacing: -.5px;
  font-family: 'Roboto', sans-serif;
  color: #2981bb;
  margin-left: 0.5rem; 
}

.Logo {
  display: block;
  width: 80px;
  height: 80px;
  margin: 0.5rem;
}

.Drop {
  height: 30px;
  width: 50px;
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
  background: white;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}

.Drop i {
  font-size: 1.5rem;
}