.SpanContainer {
  margin: .5rem 0;
}

.Span {
  text-align: left;
  padding: 0 5px;
  font-size: 1.2rem;
}

.Span:focus {
  border: 1px solid #2981bb;
}

.id {
  font-size: .8rem;
  color: rgb(85, 84, 84);
}

.name {
  font-size: 1.1rem; 
}

.type, .problem, .doctor, .date, .age {
  font-size: 1rem;
}

.problem {
  color: #d64334;
}