.RecordData {
  width: 50%;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.RecordData button {
  font-size: 2rem;
  background-color: white;
  border: none;
  width: 36px;;
  align-self: center;
  color: #2981bb;
}